<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Redirect to Index">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/index.html" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
  <appSettings>
    <!-- Environment Variables -->
    <add key="VITE_API_URL" value="http://192.168.0.240:8010" />
    <add key="VITE_USERNAME" value="DEVELOPER" />
    <add key="VITE_PASSWORD" value="Egebis01" />
  </appSettings>
</configuration>
